@tailwind base;
@tailwind components;
@tailwind utilities;

.ripple {
    position: absolute;
    border-radius: 50%;
    transform: scale(0);
    pointer-events: none;
    animation: ripple-animation 1s linear;
    background-color: rgba(255, 255, 255, 0.6);
}

@keyframes ripple-animation {
    to {
        transform: scale(4);
        opacity: 0;
    }
}